.content{
    margin:200px 100px;
    padding: 0px 20px 0px 0px;
}

.content h2 {
    color:#004B84;
}

.content h1 {
    color:#fff;
}

.content h3 {
    color:#004B84;
}
.carousel {
    width: 50%; 
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.carousel-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.carousel-container img{
    border-radius: 75px;
}

  